.calendar-content {
  display: flex;
  justify-content: center;
}

.day-content {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: 200px;
  justify-content: center;
}

.slot-card {
  padding: 12px;
  border: 1px solid black;
}

.day {
  background-color: white;
}

.slot-card.event {
  background-color: #add8e6;
}

.slot-card.event.long-event {
}

.empty {
  background-color: transparent;
}
