<div class="calendar">
  <div class="calendar-content">
    <div class="time-slots">
      <div class="time-slot" *ngFor="let slot of timeSlots">
        {{ slot }}
      </div>
    </div>
    <div class="day" *ngFor="let day of weekDays">
      <div class="day-header">{{ day }}</div>
      <div class="day-content">
        <ng-container *ngFor="let event of events">
          <ng-container *ngIf="event.startDay === getDayKey(day)">
            <div
              class="slot-card"
              [ngClass]="{ event: !event.isEmpty, empty: event.isEmpty }"
              [style.gridRowEnd]="getGridRowEnd(day, event.startTime)"
            >
              {{ event.title || "Пустой слот" }}
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
